*{
	margin: 0px;
	padding: 0px;
}
 
 /******** HEDER **********/

.HomeHeader{
	background-size: cover; 
	max-width: 100%; 
	max-height: 660px;

} 
.Logo img{
	margin-top: 15px;
	filter: grayscale(1) invert() brightness(2);

}

.HomeHeaderContainer{
	display: flex;
	justify-content: space-between;
}
.menu_button{
	background: transparent;
	font-size: 30px;
	color: #fff;
	border: none;
	margin: 10px;
}
@media(min-width: 992px){
	.menu_button{
		display: none;
	}
}
@media(max-width: 991px){
	.Nav ul{
		display: none;
		float: right;
	}
	.Nav{
		flex-direction: row-reverse;
	}
	.Nav ul li a{
		padding: 5px;
		width: 100%;
	}
	.Nav ul li{
		border: 1px #fff solid;
		display: block;
		position: relative;
		width: 100%;
		margin: 5px;
		padding: 5px!important;
	}
}
@media(max-width: 438px){
	.HomeHeader-hr{
		display: none;
	}
	span.name{
		padding:20px 0 0 12px!important;
	}
	span.text{
		padding:80px 0 0 12px!important;
	}
	.HomeHeader-line{
		display: none;
	}
	.HomeHeader-name{
		margin-top: 200px!important;

	}
}
.Nav ul li{
	list-style: none;
	display: inline-block;
	padding-right: 23px;
	padding-left: 23px;
	padding-top: 10px;
	padding-bottom: 10px;
    text-transform: uppercase;
    font-family: 'Fira Sans', sans-serif;
    margin-top: 18px;
    font-size: 13px;
    
}
.Nav ul li a{
	color: #fff;
}
.Nav ul li:hover{
	background-color: #2aa438;
}
.HomeHeader-hr{
	position: absolute;
    right: 0;
    left: 0;
    padding-left: 5px;
    padding-right: 5px;
    margin: auto;
	max-width: 950px;
	height: 1px;
	background: rgba(255,255,255,0.6);
}
.HomeHeader-name{
	max-width: 450px;
	height: 310px;
	background-color: #2aa438;
	height: 160px;
	margin-left: -15px;
    margin-top: 265px;
}

span.name{
	text-transform: uppercase;
    font-family: 'Fira Sans', sans-serif;
    color:#d1b42d;
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    padding: 47px 0 0 50px;
}

span.text{
	color: #fff;
	position: absolute;
    padding: 66px 0 0 50px;
    font-size: 14px;

}

.HomeHeader-line{
	max-width: 790px;
    height: 5px;
    background: #2aa438;
    margin-left: -15px;
    margin-top: 155px;
}


/******** COUNTERS ******/
.HomeCounters{
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	padding-right: auto;
	padding-left: auto;
}
.HomeCounters > div{
	 width: 426px;
	 height: 240px;
	 border: 1px #dddddd solid;
}
.HomeCounter{
	display: flex;
	justify-content: center;

}
.HomeCounter h6{
	text-transform: uppercase;
	float: left;
	clear:right;
	margin-top: 99px;
	margin-left: 8px;
	display: block;
	font-size: 13px;
	font-weight: bold;
	line-height: 0.2;
}
.HomeCounter p{
	 float: left;
	 margin-left: 8px;
	 font-size: 13px;
}

.HomeCounter span.number{
	float: left;
	color:#2aa438;
	font-size: 60px;
	font-weight: bold;
	font-family: 'Fira Sans', sans-serif;
	margin-top: 73px;
	margin-left:50px;
}

.HomeCounters-more button{
	background-color: #2aa438;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    padding: 12px 60px;
    margin-top: 90px;
}

/********* ADVANTAGES *********/

.HomeAdvantages{
	background-size: cover; 
	max-width: 100%;
	padding-bottom: 24px; 
} 
.HomeAdvantage-item{
	display: block;
	width: 490px;
	height: 70px;
	background: #fff;
	margin-right: auto;
	margin-left: auto;
	padding: 18px 20px 20px 20px;	
}
.HomeAdvantagesWrapper{
	display: flex;
	flex-wrap: wrap;
}
.HomeAdvantages p{
	text-align: center;
	text-transform: uppercase;
	color: white;
	padding: 50px 0 15px 0;
	font-family: 'Fira Sans', sans-serif;
	font-size: 26px;
}
.HomeAdvantage-first{
	margin: 0 25px 0 52px;
}
@media(max-width: 1200px){
	.HomeAdvantage-first{
		margin: 0 0px 0 0px;
	}
	.HomeAdvantagesWrapper{
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
	}
	.HomeAdvantage-item{
		max-width: 400px;
	}
}
@media(max-width: 576px){
	.HomeAdvantage-item{
		max-width: 300px;
	}
	}
.HomeAdvantagesWrapper ul li{
	margin-bottom: 20px;
}
.HomeAdvantage-but button{
    text-transform: uppercase;
    background-color: #ffc01a;
    padding: 8px 60px;
    border: none;
    font-weight: bold;
}
.HomeAdvantage-but{
	text-align: center;
	margin: 39px;
}

.HomeAdvantagesWrapper{
  	counter-reset: section;                     
}

.HomeAdvantage-item::before {
   	counter-increment: section;                 
   	content: " 0" counter(section) " "; 
   	font-size: 26px;
   	font-family: 'Fira Sans', sans-serif;
}


/********* DISCOUNTS *********/

.HomeDiscounts{
	background-size: cover;
	max-width: 100%;
	max-height: 100%;
	padding-top:55px;
	padding-bottom: 68px; 
	
}
.HomeDiscounts-title{
	text-align: center;
}
.HomeDiscounts-title span{
	text-transform: uppercase;
	font-family: 'Fira Sans', sans-serif;
	font-size: 25px;
	font-weight: bold;
}
.HomeDiscounts-title p{
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}
.HomeDiscounts-percent{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.HomeDiscount-item{
	margin-top: 35px;
    margin-left: 55px;
    margin-right: 55px;
}
.HomeDiscount-item span{
	color:#2aa438;
	font-size: 60px;
	font-weight: bold;
	font-family: 'Fira Sans', sans-serif;

}
.HomeDiscount-item p{
	max-width: 130px;
	font-size: 13px;
	margin-left: 10px;
}
.HomeDiscounts-but{
	text-align: center;
	margin-top: 48px;
	
}
.HomeDiscounts-but button{
    text-transform: uppercase;
    background-color: #2aa438;
    padding: 8px 70px;
    border: none;
    color: #fff;
    font-weight: bold;
}



/******** NEWS ********/
.HomeNews{
	background-size: cover; 
	max-width: 100%; 
	max-height: 660px;
	padding-top: 65px;
	padding-bottom: 55px;
}
.HomeNewsContainer{
	margin: 30px;
}
.HomeNews-inner{
	margin-left: auto;
	margin-right: auto;
	max-width: 740px;
}
.HomeNews-title{
	padding: 18px 30px;
	background-color: #ffc01a;
	display: flex;
	justify-content: space-between;
}
.HomeNews-title span{
	text-transform: uppercase;
	font-size: 25px;
	font-weight: bold;
}
.HomeNews-title a{
	color: #000;
	text-decoration: underline;
}

.HomeNews-item{
	padding: 5px 30px;
	background-color: #fff;
	border-bottom: 1px #dddddd solid;
	list-style-type: none;
}
.HomeNews-item .number{
	color: #ffba06;
	font-size: 28px;
}
.HomeNews-item .mounth{
	color: #ffba06;
	text-transform: uppercase;
}
.HomeNews-item div{
	width: 1px;
	height: 60px;
	background-color: #dddddd;
	display: inline-block;
	margin-top: 10px;
	margin-bottom: -20px;
	margin-right: 10px;
	margin-left: 10px;
}
.HomeNews-item p{
	display: inline-block;
	font-size: 14px;
	background-image: url("");
}
@media(max-width:768px){
	.HomeNews-item div{
		display: none;
	}
	.HomeNews-item p{
		display: block;
		margin-top: 5px;
	}
}

/********* WRITE_US ********/
.HomeWriteus{
	background-size: cover;
	max-width: 100%;
	max-height: 100%;
	opacity: 0.9;

}
.HomeWriteus-title {
	padding-top: 55px;
	padding-left: 115px;
}
.HomeWriteus-title span{
	text-transform: uppercase;
	font-size: 24px;
	font-weight: bold;
	font-family: 'Fira Sans', sans-serif;
	color: #fff;
	letter-spacing: 1.5px;
}
input#name {
	max-width: 250px;
	padding: 8px 30px;
    margin-top: 30px;
    margin-left: 115px;
    border: none;
}
select#country{
	max-width: 250px;
	padding: 8px 65px 8px 25px;
	border: 0.1px #fff solid;
	margin-left: 14px;
}
select#status {
	max-width: 250px;
	border: 0.1px #fff solid;
	padding: 8px 75px 8px 30px;
    margin-left: 115px;
   
}
input#email{
	max-width: 250px;
	padding: 8px 30px;
	border: 0.1px #fff solid;
	margin-left: 14px;
}
textarea{
	max-width: 519px;
	margin-left: 115px;
	margin-top: 16px;
	border: 0.1px #fff solid;
}
form button{
	font-family: 'Fira Sans', sans-serif;
	text-transform: uppercase;
	margin-left: 115px;
	color: #fff;
	background: #2aa438;
	font-size: 14px;
	padding: 10px 57px;
	margin-top: 42px;
	margin-bottom: 67px;
	border: 0.1px #2aa438 solid;
}
@media(max-width:768px){
	form button, textarea, select#status,
	input#name{
		margin-left: 14px;
		margin-bottom: 8px;
	}
	.HomeWriteus-title {
	padding-left: 14px;
	}
	textarea{
	max-width: 319px;
}
}





